.jumbotron {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-position: 50% 25%;
    /*background-position:center 代表出現整張圖正中央*/
    /*10% 50%前為寬後為高 數字越大越高越右這張圖因cover所以寬直沒差*/
    height: 50vh;
}

/*vh: viewport height視窗高度*/
/*background-repeat:no-repeat;repeat了話底色會跑出來*/

/*background-size:cover;/*至少和整個網頁一樣寬 隨螢幕大小變化 有cover no-repeat就沒用*/
.img-thumbnail {
    background-position: center;
    height: 50vh;
}

.dropdown {
    margin: 15px 0px;
    
}
.rowtitle {
    padding: 5px;
}

.row {
    margin-top: 5px;

}

.bookpic {
    height: 35vh
}
hr {
  border: 0px;  /* 不要框架 */
  height: 1px;  /* 設定 1px 的高度 */
  background: #cccccc;  /* 讓背景色填滿高度 1px 的元素空間 */
  margin: 20px 0;
}
